@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap');

body {
  font-family: 'Silkscreen';
  background-color: #010100;
}

#main {
  text-align: center;
}

.title {
  font-family: 'Press Start 2P';
  color: #FFF;
  font-size: 36px;
  margin-bottom: 0;
}

.item {
  padding-left: 28px;
  margin: 0;
  color: #989899;
  font-size: 25px;
}

.tooltip {
  padding-left: 28px;
  margin: 0;
  color: #989899;
  font-size: 25px;
}

.instructions {
  color: #333333;
  margin: 0;
  font-size: 25px;
}

.item.selected {
  color: #FFF;
}
